@media screen and (max-width:768px){
    /*---------------------
    Base
    ---------------------*/
    .wrapper{
        .section-wrapper{
            padding: 0 4vw;
            .content-title{
                font-size: 2rem;
                margin-bottom: 34px;
            }
        }
    }


    /*---------------------
    header
    ---------------------*/
    .header{
        padding: 0 4vw;
        .header-nav{
            .nav-list{
                display: none;
            }
        }
        .burger-btn{
            position: relative;
            width: 50px;
            height: 50px;
            cursor: pointer;
            transition: .3s;
            display: inline-block;
            .bar{
                position: absolute;
                left: 14px;
                width: 45%;
                height: 2px;
                background-color: #fff;
                border-radius: 4px;
                display: inline-block;
            }
            .bar-top{
                top: 15px;
                transition: .3s;
            }
            .bar-mid{
                top: 23px;
                transition: .3s;
            }
            .bar-bottom{
                top: 31px;
                transition: .3s;
            }
        }
        .active{
            .bar-top{
                left: 18px;
                top: 18px;
                transform: translateY(6px) rotate(-45deg);
                width: 30%;
            }
            .bar-mid{
                opacity: 0;
                
            }
            .bar-bottom{
                top: 30px;
                left: 18px;
                transform: translateY(-6px) rotate(45deg);
                width: 30%;
            }
        }
    }

    /*---------------------
    Base
    ---------------------*/

    /*---------------------
    Base
    ---------------------*/

    /*---------------------
    Base
    ---------------------*/
}