@media screen and (max-width:768px){
    /*---------------------
    Base
    ---------------------*/
    .wrapper{
        .section-wrapper{
            padding: 0 4vw;
            .content-title{
                font-size: 2rem;
                margin-bottom: 34px;
            }
        }
    }
    /*---------------------
    header
    ---------------------*/

    /*---------------------
    Base
    ---------------------*/

    /*---------------------
    Base
    ---------------------*/

    /*---------------------
    Base
    ---------------------*/
}