/*---------------------
Base
---------------------*/
html{
    font-size: 62.5%;
}
body{
    font-size: 1.4rem;
    font-family: 'Roboto', sans-serif, 'Noto Sans JP', sans-serif;
    color: #141414;
    line-height: 1.8;
    letter-spacing: 0.05em;
}
img{
    max-width: 100%;
    vertical-align: bottom;
}
a:hover{
    opacity: .7;
}

.wrapper{
    max-width: 1030px;
    margin: 0 auto;
    .section-wrapper{
        margin-bottom: 150px;
        .section-title{
            font-size: 3.6rem;
            margin-bottom: 70px;
            text-align: center;
        }
        .content-title{
            font-size: 2.4rem;
            font-weight: bold;
            margin-bottom: 45px;
        }
        &:first-of-type{
            margin-top: 100px;
        }
        &:last-of-type{
            margin-bottom: 50px;
        }
    }
}


/*---------------------
header
---------------------*/
.header{
    background-color: #1B1310;
    color: #fff;
    border-bottom: 2px solid #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 120px;
    height: 74px;
    .site-title{
        font-size: 2.6rem;
    }
    .header-nav{
        .nav-list{
            display: flex;
            font-size: 1.6rem;
            .nav-item{
                margin-left: 55px;
                &:first-of-type{
                    margin-left: 0;
                }
            }
        }
    }
    .burger-btn{
        display: none;
    }
}


/*---------------------
fv
---------------------*/
.fv{
    background-image: url(../img/fv-bgi@2x.jpg);
    height: 90vh;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    .main-copy{
        color: #fff;
        font-size: 5rem;
        border: 2px solid #fff;
        padding: 35px 42px;
        line-height: 1;
    }
}


/*---------------------
about
---------------------*/
#about{
    .about-text{
        font-weight: bold;
    }
}


/*---------------------
service
---------------------*/
#service{
    .content-inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .img-wrapper{
            max-width: 480px;
        }
        .text-wrapper{
            max-width: 480px;
            .content-text{
                font-weight: bold;
            }
        }
        &:first-of-type{
            margin-bottom: 50px;
        }
    }
    .reverse{
        flex-direction: row-reverse;
    }
}


/*---------------------
news
---------------------*/
#news{
    .news-list{
        display: flex;
        justify-content: space-between;
        .news-item{
            max-width: 320px;
            box-shadow: 0px 0px 6px rgba(27,19,16,0.4);
            .news-text{
                font-size: 1.3rem;
                font-weight: bold;
                padding: 25px 32px;
            }
        }
    }
}


/*---------------------
footer
---------------------*/
